<div class="ableplayer_block">

    <h1>{{title}}</h1>

    <video id="video1" preload="auto" width="480" height="360" data-able-player>
        <source type="video/mp4" src="{{filepath}}"/>
        {% for track in description_files %}
            <track kind="descriptions" src="{{track.filepath}}" srclang="{{track.language}}">
        {% endfor %}

        {% for track in caption_files %}
            <track kind="captions" src="{{track.filepath}}" srclang="{{track.language}}" label="{{track.language}}">
        {% endfor %}

        {% for track in chapter_files %}
            <track kind="chapters" src="{{track.filepath}}" srclang="{{track.language}}">
        {% endfor %}
    </video>

</div>

<!-- <div class="ableplayer_block">

    <h1>Able Player Video Demo #5:<br/>Video player with interactive transcript, subtitles, and chapters</h1>

    <video id="video1" preload="auto" width="480" height="360" data-able-player>
        <source type="video/mp4" src="/static/EDXCOMMXT115-G200200_MB2.mp4"/>

        <track kind="descriptions" src="/static/GreetingsFromAnant-AD-EN.vtt"/>

        <track kind="captions" src="/static/GreetingsFromAnant-EN.vtt" srclang="en" label="English">
        <track kind="captions" src="/static/GreetingsFromAnant-ES.vtt" srclang="es" label="Español">

        <track kind="chapters" src="/static/GreetingsFromAnant-Chapters.vtt" srclang="en"/>
    </video>

</div> -->
